<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Cantacts</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dastone</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Apps</a></li>
                            <li class="breadcrumb-item active">Cantacts</li>
                        </ol>
                    </div><!--end col-->

                    <div class="col-auto align-self-center">
                        <div class="d-inline-block">
                            <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                <span class="" id="Select_date">Jan 11</span>
                                <i data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-outline-primary">
                                <i data-feather="download" class="align-self-center icon-xs"></i>
                            </a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="media">
                                <img src="~/images/users/user-1.jpg" alt="user" class="rounded-circle thumb-lg align-self-center">
                                <div class="media-body ms-3 align-self-center">
                                    <h5 class="mt-0 mb-1">Wendy Keen</h5>
                                    <p class="mb-0 text-muted">Freelance Developer</p>
                                </div>
                            </div><!--end media-->
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="me-1 contact-icon"><i class="fas fa-phone"></i></a>
                                    <a href="#" class="contact-icon"><i class="far fa-envelope"></i></a>
                                </li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="media">
                                <img src="~/images/users/user-2.jpg" alt="user" class="rounded-circle thumb-lg align-self-center">
                                <div class="media-body ms-3 align-self-center">
                                    <h5 class="mt-0 mb-1">Jeff Beck</h5>
                                    <p class="mb-0 text-muted">Freelance Developer</p>
                                </div>
                            </div><!--end media-->
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="me-1 contact-icon"><i class="fas fa-phone"></i></a>
                                    <a href="#" class="contact-icon"><i class="far fa-envelope"></i></a>
                                </li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="media">
                                <img src="~/images/users/user-3.jpg" alt="user" class="rounded-circle thumb-lg align-self-center">
                                <div class="media-body ms-3 align-self-center">
                                    <h5 class="mt-0 mb-1">David Gilmour</h5>
                                    <p class="mb-0 text-muted">Freelance Developer</p>
                                </div>
                            </div><!--end media-->
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="me-1 contact-icon"><i class="fas fa-phone"></i></a>
                                    <a href="#" class="contact-icon"><i class="far fa-envelope"></i></a>
                                </li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="media">
                                <img src="~/images/users/user-4.jpg" alt="user" class="rounded-circle thumb-lg align-self-center">
                                <div class="media-body ms-3 align-self-center">
                                    <h5 class="mt-0 mb-1">Sarah Woods</h5>
                                    <p class="mb-0 text-muted">Freelance Developer</p>
                                </div>
                            </div><!--end media-->
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="me-1 contact-icon"><i class="fas fa-phone"></i></a>
                                    <a href="#" class="contact-icon"><i class="far fa-envelope"></i></a>
                                </li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="media">
                                <img src="~/images/users/user-5.jpg" alt="user" class="rounded-circle thumb-lg align-self-center">
                                <div class="media-body ms-3 align-self-center">
                                    <h5 class="mt-0 mb-1">Andy Timmons</h5>
                                    <p class="mb-0 text-muted">Freelance Developer</p>
                                </div>
                            </div><!--end media-->
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="me-1 contact-icon"><i class="fas fa-phone"></i></a>
                                    <a href="#" class="contact-icon"><i class="far fa-envelope"></i></a>
                                </li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="media">
                                <img src="~/images/users/user-6.jpg" alt="user" class="rounded-circle thumb-lg align-self-center">
                                <div class="media-body ms-3 align-self-center">
                                    <h5 class="mt-0 mb-1">Vince Nelson</h5>
                                    <p class="mb-0 text-muted">Freelance Developer</p>
                                </div>
                            </div><!--end media-->
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="me-1 contact-icon"><i class="fas fa-phone"></i></a>
                                    <a href="#" class="contact-icon"><i class="far fa-envelope"></i></a>
                                </li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="media">
                                <img src="~/images/users/user-7.jpg" alt="user" class="rounded-circle thumb-lg align-self-center">
                                <div class="media-body ms-3 align-self-center">
                                    <h5 class="mt-0 mb-1">Dianna Smiley</h5>
                                    <p class="mb-0 text-muted">Freelance Developer</p>
                                </div>
                            </div><!--end media-->
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="me-1 contact-icon"><i class="fas fa-phone"></i></a>
                                    <a href="#" class="contact-icon"><i class="far fa-envelope"></i></a>
                                </li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="media">
                                <img src="~/images/users/user-8.jpg" alt="user" class="rounded-circle thumb-lg align-self-center">
                                <div class="media-body ms-3 align-self-center">
                                    <h5 class="mt-0 mb-1">Adolfo Hess</h5>
                                    <p class="mb-0 text-muted">Freelance Developer</p>
                                </div>
                            </div><!--end media-->
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="me-1 contact-icon"><i class="fas fa-phone"></i></a>
                                    <a href="#" class="contact-icon"><i class="far fa-envelope"></i></a>
                                </li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="media">
                                <img src="~/images/users/user-2.jpg" alt="user" class="rounded-circle thumb-lg align-self-center">
                                <div class="media-body ms-3 align-self-center">
                                    <h5 class="mt-0 mb-1">Jeff Beck</h5>
                                    <p class="mb-0 text-muted">Freelance Developer</p>
                                </div>
                            </div><!--end media-->
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="me-1 contact-icon"><i class="fas fa-phone"></i></a>
                                    <a href="#" class="contact-icon"><i class="far fa-envelope"></i></a>
                                </li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="media">
                                <img src="~/images/users/user-3.jpg" alt="user" class="rounded-circle thumb-lg align-self-center">
                                <div class="media-body ms-3 align-self-center">
                                    <h5 class="mt-0 mb-1">David Gilmour</h5>
                                    <p class="mb-0 text-muted">Freelance Developer</p>
                                </div>
                            </div><!--end media-->
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="me-1 contact-icon"><i class="fas fa-phone"></i></a>
                                    <a href="#" class="contact-icon"><i class="far fa-envelope"></i></a>
                                </li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="media">
                                <img src="~/images/users/user-6.jpg" alt="user" class="rounded-circle thumb-lg align-self-center">
                                <div class="media-body ms-3 align-self-center">
                                    <h5 class="mt-0 mb-1">Vince Nelson</h5>
                                    <p class="mb-0 text-muted">Freelance Developer</p>
                                </div>
                            </div><!--end media-->
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="me-1 contact-icon"><i class="fas fa-phone"></i></a>
                                    <a href="#" class="contact-icon"><i class="far fa-envelope"></i></a>
                                </li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="media">
                                <img src="~/images/users/user-7.jpg" alt="user" class="rounded-circle thumb-lg align-self-center">
                                <div class="media-body ms-3 align-self-center">
                                    <h5 class="mt-0 mb-1">Dianna Smiley</h5>
                                    <p class="mb-0 text-muted">Freelance Developer</p>
                                </div>
                            </div><!--end media-->
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="me-1 contact-icon"><i class="fas fa-phone"></i></a>
                                    <a href="#" class="contact-icon"><i class="far fa-envelope"></i></a>
                                </li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
</div><!-- container -->
