@section styles{
<link href="~/lib/treeview/themes/default/style.css" rel="stylesheet">
}

<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Treeview</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dastone</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Treeview</li>
                        </ol>
                    </div>
                    <!--end col-->
                    <div class="col-auto align-self-center">
                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                            <span class="" id="Select_date">Jan 11</span>
                            <i data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-outline-primary">
                            <i data-feather="download" class="align-self-center icon-xs"></i>
                        </a>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class=" col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Default Tree</h4>
                </div>
                <!--end card-header-->
                <div class="card-body">
                    <div id="jstree">
                        <!-- in this example the tree is populated from inline HTML -->
                        <ul>
                            <li class="jstree-open" data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Root node
                                1
                                <ul>
                                    <li data-jstree='{"icon":"fa fa-folder text-primary font-18"}'>Child node 1</li>
                                    <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Child node 2</li>
                                    <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Child node 3</li>
                                    <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}' class="jstree-open">
                                        Child node 3
                                        <ul>
                                            <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Child node 1
                                            </li>
                                            <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Child node 2
                                                <ul>
                                                    <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Child
                                                        node 1</li>
                                                    <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Child
                                                        node 2</li>
                                                </ul>
                                            </li>
                                            <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Child node 3
                                            </li>
                                            <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Child node 4
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Root node 2
                                <ul>
                                    <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Child</li>
                                    <li data-jstree='{"icon":"fa fa-folder text-warning font-18", "disabled":true}'>
                                        Child
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
        <div class=" col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Checkable Tree</h4>
                </div>
                <!--end card-header-->
                <div class="card-body">
                    <div id="jstree-checkbox">
                        <!-- in this example the tree is populated from inline HTML -->
                        <ul>
                            <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}' class="jstree-open">Root node
                                1
                                <ul>
                                    <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Child node 1</li>
                                    <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Child node 2</li>
                                    <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}' class="jstree-open">
                                        Child node 3
                                        <ul>
                                            <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Child node 1
                                            </li>
                                            <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Child node 2
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li data-jstree='{"icon":"fa fa-folder text-warning font-18"}'>Root node 2</li>
                        </ul>
                    </div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div><!-- end col -->
    </div><!-- end row -->

</div>

@section scripts{
<script src="~/lib/treeview/jstree.min.js"></script>
<script src="~/js/pages/jquery.treeview.init.js"></script>
}